/* GLOBAL  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #212529;
  letter-spacing: 1px;
  background-color: #fff;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: #4e2a84;
}

.button {
  border-radius: 4px;
  background-color: #ff0e83;
  border: 1px solid #fff;
  color: #fff;
  padding: 13px 32px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  transition: all 0.55s ease;
}

.button:hover {
  background-color: #fff;
  border-color: #ff0e83;
  color: #000;
  cursor: pointer;
}

/* END GLOBAL CSS */

/* HEADER */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.header__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* min-height: 60px; */
  align-items: center;
  padding: 10px 10px;
}

.header__logo {
  font-size: 3.8rem;
  color: #fff;
  font-weight: 600;

}

.header__nav {
  display: flex;
  flex-wrap: wrap;

}

.header__nav li {
  margin: 0 1.2rem;

}

.header__nav a {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.55s ease;

}

.header__nav--active a {
  color: #ff0e83;
  /* font-size: ; */
}

.header__nav a:hover {
  color: #ff0e83;

}

.header__bars {
  color: #fff;
  font-size: 3.2rem;
  margin-right: 10px;
  display: none;
}

/* Responsive */
@media (max-width: 991.98px) {
  .header__content {
    width: 95%;
  }
}

@media (max-width: 767.98px) {
  .header__bars {
    display: block;
    /* Show the bars icon on smaller screens */
  }

  .header__bars:hover {
    cursor: pointer;
    color: #ff0e83;
  }

  .menu {
    height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: #333333af;
    position: absolute;
    bottom: -143px;
    left: 0;
    width: 100%;
    transition: height 2s ease, opacity 2s ease;
    z-index: 1;
  }

  .menu.active {
    height: max-content;
    /* Adjust based on the number of menu items */
    opacity: 1;
  }

  .header__nav {
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header__nav li {
    padding: 5px 0;
  }

}

/* CAROUSEL  */
.carousel {
  background-image: url(../images/b3.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;

  align-items: center;
}

.carousel__title {
  font-size: 5.6rem;
}

.carousel__desc {
  font-size: 1.7rem;
  margin: 2.3rem 0;
}


.carousel button:hover {
  /* animation: upDown 1s linear 0s infinite; */
  /* animation: upDown2 3s linear 0s infinite; */
}


/* animation direction */
.carousel__content:hover button {
  /* animation: upDown3 2s 1 reverse; */
  animation: upDown3 2s 2 alternate-reverse;

}

/* fill-mode */
.carousel__content:hover button {

  /* animation: upDown3 2s 1 forwards; */
  /* animation: upDown3 2s 1s backwards; */
  animation: upDown3 2s 1s both;

}

@media (max-width: 767.98px) {
  .carousel {
    height: 400px;
  }

  .carousel__title {
    font-size: 4.0rem;
  }

  .carousel__desc {
    font-size: 1.3rem;
    margin: 1.6rem 0;
  }

}

@media (max-width: 576.98px) {
  .carousel {
    height: 400px;
  }

  .carousel__title {
    font-size: 3.0rem;
  }

  .carousel__desc {
    font-size: 1.1rem;
    margin: 1.2rem 0;
  }

  .carousel__content button {
    padding: 10px 20px;
    animation: none;
  }

  .carousel__content:hover button {
    animation: none;
  }

}

/* INTRO  */
.intro {
  display: grid;
  /* grid-template-columns: repeat(4, 25%); */
  /* fraction: fr */
  grid-template-columns: repeat(4, 1fr);
}

.intro__ab1 {
  /* grid-column */
  /* so line bat dau */
  /* so line ket thuc */

  /* grid-column: 2 / 4; */
  grid-column: 2 / span 2;
}

.intro__text-2 {
  grid-column: 1 / span 2;
}

.intro__ab4 {
  grid-column: 3 / span 2;
}

.intro__item img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}

.intro__ab3 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}


.intro__item {
  display: flex;
  align-items: center;
  text-align: center;
}

.intro__text {
  padding: 0 32px;
}

.intro__item h3 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  color: #fff
}

.intro__item p {
  font-size: 1.4rem;
  color: #c1c1c1;
}

.intro__item:first-child,
.intro__item:nth-child(8) {
  background-color: #4F3187
}

.intro__item:nth-child(3) {
  background-color: #ff0e83;
}

.intro__item:nth-child(4) {
  background-color: #ed6498;
}

.intro__item:nth-child(6) {
  background-color: #8273AC;
}

@media (max-width: 767.98px) {
  .intro__text {
    padding: 0 16px;
  }

  .intro__item h3 {
    font-size: 1.8rem;
  }

  .intro__item p {
    font-size: 1.2rem;
  }
}

@media (max-width: 576.98px) {
  .intro__item {

    justify-content: center;
    align-items: center;
  }

  .intro__text {
    padding: 0 10px;

  }

  .intro__item h3 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .intro__item p {
    display: none;
  }

  .intro__item img {
    max-height: 200px;
  }
}

@media (max-width: 419.98px) {
  .intro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .intro__item {
    width: 100%;
  }

  .intro__item h3 {
    font-size: 2.2rem;
    padding: 10px 0;
    width: 100%;

  }

  .intro__item img {
    width: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}


/* NUMBER */
.number__content {
  width: 70%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}

.number__item {
  text-align: center;
}

.number__item p:first-child {
  font-size: 2.2rem;
  color: #4e2a84;
  font-weight: 700;
  margin-bottom: 16px;
}

.number__item p:last-child {
  font-size: 1.4rem;
  color: #000;
  font-weight: 700;
  letter-spacing: 2px;
}

@media (max-width: 767.98px) {
  .number__content {
    width: 90%;
  }

}

@media (max-width: 576.98px) {
  .number__content {
    width: 90%;
    flex-wrap: wrap;
  }

  .number__item {
    width: 50%;
    margin-bottom: 16px;

  }
}

/* SERVICES */
.services {
  background-image: url(../images/s1.jpg);
  background-size: cover;
  padding: 70px 0;
  text-align: center;
}

.services__header {
  font-size: 4.0rem;
  margin-bottom: 32px;
}

.services__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;

}

.services__item {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.services__item i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #fff;
  border: 1px solid #4e2a84;
  font-size: 4.2em;
  color: #4e2a84;
  transition: all .5s ease;

}

.services__item:hover i {
  color: #ff0e83;
}

.services__title {
  font-size: 2.0rem;
  font-weight: 500;
  margin: 17px 0;
}

.services__desc {
  font-size: 1.1rem;
  margin-bottom: 12px;
}

.services__button {
  padding: 12px 24px;
  font-size: 1.2rem;
  border-width: 2px;
  border-radius: 6px;

}

@media (max-width: 991.98px) {
  .services__title {
    min-height: 50px;
    display: flex;
    align-items: center;

  }

  .services__desc {
    min-height: 90px;
    margin-bottom: 0;
  }

}

@media (max-width: 767.98px) {
  .services__content {
    flex-wrap: wrap;
  }

  .services__item {
    width: 50%;
    margin-bottom: 30px;

  }

  .services__title {
    margin: 10px 0;
    min-height: 0;
  }

  .services__desc {
    min-height: max-content;
    margin-bottom: 12px;
  }
}

@media (max-width: 576.98px) {
  .services__title {
    margin: 10px 0;
    min-height: 50px;
  }

  .services__content {
    width: 95%;
  }
}


/* GALLERY  */
.gallery {
  padding: 70px 0;
}

.gallery__header {
  text-align: center;
  margin-bottom: 16px;
  font-size: 4.0em;
}

.gallery__content {
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.g1-13 {
  grid-column: 1 / span 2;
}

.g2-35 {
  grid-column: 3 / span 2;
}

.gallery__item img {
  width: 100%;
  display: block;
  height: 100%;
}

.gallery__item {
  position: relative;
  color: #fff;
  letter-spacing: 0px;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 132, 162, 0.2);
  padding: 28px 28px;
  text-align: right;
  color: #fff;

}

.gallery__desc {
  position: absolute;
  bottom: 38px;
  right: 28px;
  transform: translateY(50px);
  transition: all 0.55s;
  opacity: 0;
}

.gallery__title {
  font-size: 2.2rem;
  /* margin-bottom: 8px; */
  transition: all 0.55s ease;
  transform: translateY(20px);
}

.gallery__title span {
  font-weight: 300;
}


.gallery__item:hover .gallery__title {
  transform: translateY(0);
}

/* .gallery__item:hover .gallery__desc */
.gallery__item:hover .gallery__title::after,
.gallery__item:hover .gallery__desc {

  transform: translateY(0);
  opacity: 1;
}

.gallery__title::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin-top: 8px;
  display: block;
  transform: translateY(20px);
  transition: all 0.55s;
  opacity: 0;
}

.gallery__desc {
  font-size: 1.1rem;
}

@media (max-width: 767.98px) {
  .gallery__content {
    padding: 0 16px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .g1-13 {
    grid-column: 1 / span 2;
  }

  .g2-35 {
    grid-column: 1 / span 2;
  }

  .gallery__title {
    transition: none;
    transform: none;
  }

  .gallery__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 132, 162, 0.2);
    padding: 28px 28px;
    text-align: right;
    color: #fff;

  }

  .gallery__desc {
    position: absolute;
    transform: none;
    transition: none;
    opacity: 1;
  }
}

@media (max-width: 375.98px) {
  .gallery__title {
    font-size: 1.6rem;
  }

}

/* TEAM  */
.team {
  background: #4e2a84;
  color: #fff;
  padding: 60px 0;
}

.team__header {
  font-size: 4.0rem;
  text-align: center;
  margin-bottom: 32px;
}

.team__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  gap: 20px 30px;
}


.team__item {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.team__item img {
  width: 100%;
  object-fit: cover;
}

.team__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  background-color: #ff0e83;
  opacity: 1;
  transition: all 0.6s;
}

.team__title {
  font-size: 2.0rem;
  margin-bottom: 3px;
}

.team__desc {
  font-size: 1.2rem;
}

.team__details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 80px 40px;
  opacity: 0;
  transition: all 0.6s;
}

.team__details h4 {
  color: #ff0e83;
}

.team__details p {
  margin-bottom: 16px;
  line-height: 1.5;
}

.team__socials {
  margin-top: 24px;
}


.team__socials i {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  line-height: 40px;
  text-align: center;
  margin-right: 5px;
  transition: all 0.55s;
  font-size: 1.44rem;
}

.team__socials i:hover {
  color: #ff0e83;
  border-color: #ff0e83;
}

.team__item:hover .team__text {
  opacity: 0;
}

.team__item:hover .team__details {
  opacity: 1;
}

/* Transform */
.team__item-lr .team__details {
  /* opacity: 1; */
  transform: translateX(-100%);
}

.team__item-lr:hover .team__details {
  transform: translateX(0);
}

.team__item-tb .team__details {
  /* opacity: 1; */
  transform: translateY(-100%);
}

.team__item-tb:hover .team__details {
  transform: translateX(0);
}

.team__item-rotate .team__details {
  /* opacity: 1; */
  transform: rotate(90deg);
}

.team__item-rotate:hover .team__details {
  transform: rotate(360deg);
}

.team__item-zoom .team__details {
  transform: scale(0);
}

.team__item-zoom:hover .team__details {
  transform: scale(1);
}

@media (max-width: 991.98px) {
  .team__text {
    padding: 20px;
  }
}

@media (max-width: 767.98px) {
  .team__text {
    padding: 10px;
  }

  .team__title {
    font-size: 1.6rem;
    margin-bottom: 3px;
  }

  .team__desc {
    font-size: 1.2rem;
  }
}


@media (max-width: 575.98px) {
  .team__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    gap: 20px 30px;
  }
}

/* FEEDBACK */
.feedback {
  padding: 60px 0;
  background-image: url(../images/cc1.jpg);
  background-size: cover;
}

.feedback__header {
  color: white;
  font-size: 4.0rem;
  margin-bottom: 32px;
  text-align: center;
}

.feedback__content {
  width: 75%;
  margin: 0 auto;
  border: 3px solid #ff0e83;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 32px;
}

.feedback__content i {
  font-size: 1.8rem;
  color: #2cbeff;
  padding: 0 18px;
}

.feedback__content p {
  line-height: 30px;
  letter-spacing: 1.3px;
  font-weight: 600;
}

.feedback__content p:last-child {
  color: #fff;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
  background: #0000005b;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span {
  background: #000;
}


/* CONTACT */
/* FORM */
.contact {
  padding: 60px 0;

}

.contact__header {
  font-size: 4.0rem;
  text-align: center;
  margin-bottom: 32px;
}

.contact__form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75%;
  margin: 0 auto;
  gap: 10px 20px;
}

.contact__form form textarea,
.contact__form form button {
  grid-column: 1 / span 2;
  padding: 10px;
}




.contact__form form input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.4s;

}

.contact__form form input:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(0, 123, 255, 0.25);
}

.contact__form form textarea {
  border: 1px solid black;
  resize: none;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 5px;
}

.contact__form form textarea:focus {
  outline: none;

  box-shadow: 0 0 0 0.3rem rgba(0, 123, 255, 0.25);
}

.contact__form form textarea::placeholder {
  color: black;
}

.contact__form form button {
  border-radius: 0;
  color: black;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 5px;
}

.contact__form form button:hover {
  cursor: pointer;
  background: #000;
  color: #fff;
}

/* MAP */
.contact__map iframe {
  width: 100%;
  display: block;
  margin: 50px auto 0;
}

/* CONTACT INFO */
.contact__info {
  display: flex;
  width: 80%;
  margin: 32px auto 0;
  justify-content: space-between;
  text-align: center;
}

.contact__info i {
  font-size: 3.2rem;
  color: #4e2a84
}

.contact__info p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.contact__item {
  width: calc(100%/3 - 60px);
}

@media (max-width: 767.98px) {
  .contact__form form {
    width: 90%;
  }
}

@media (max-width: 575.98px) {
  .contact__form form {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__form form textarea,
  .contact__form form button {
    grid-column: 1 / span 1;
    /* padding: 10px; */
  }

  .contact__info {
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact__item {
    width: 90%;
    margin-bottom: 16px;
  }
}


/* FOOTER
 */

.footer {
  padding-top: 60px;
  padding-bottom: 10px;
  background: black;
  color: #fff;
}

.footer__main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
}

.footer__item {
  width: 25%;
  padding: 0 20px;
}

.footer__title {
  color: #ff0e83;
  font-size: 2rem;
  margin-bottom: 1.6rem;

}

.footer__desc {
  font-size: 1.1rem;
  line-height: 22px;
  padding-bottom: 1rem;
}

.footer__socials i {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  line-height: 35px;
  text-align: center;
  margin-right: 10px;
  transition: all 0.55s;
  font-size: 1.44rem;
  margin-bottom: 10px;
}

.footer__socials i:hover {
  color: #ff0e83;
  border-color: #ff0e83;
}

.footer__time {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #fff;
}

.footer__time:last-child {
  border-bottom: none;
}

.footer__time .footer__desc {
  padding: 0;
  margin: 10px 0;
}

.footer__item .footer__sub input {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.footer__item .footer__sub input:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(0, 123, 255, 0.25);
}

.footer__item .footer__sub button {
  padding: 7px 16px;
  margin-bottom: 24px;
  color: black;
  font-weight: 700;
  border-color: #ff0e83;
}

.footer__item .footer__sub button:hover {
  border-color: #000;
}

.footer__copyright {
  text-align: center;
  margin-top: 32px;
  font-size: 1.2rem;
}

.footer__copyright span {
  color: #ff0e83;
}

@media (max-width: 767.98px) {
  .footer__main {
    flex-wrap: wrap;
    width: 95%;
  }

  .footer__item {
    width: 50%;
    margin-bottom: 32px;
    padding: 0 16px;
  }
}

@media (max-width: 575.98px) {
  .footer__item .footer__sub input {
    padding: 5px;
  }

  .footer__item {
    width: 100%;

  }
}

/* BACK TO TOPP */
.backToTop i {
  color: #0BBBCC;
  border: 2px solid #0BBBCC;
  width: 40px;
  height: 40px;
  font-size: 3.2rem;
  text-align: center;
  line-height: 36px;
  position: fixed;
  right: 40px;
  bottom: 50px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.6s ease-in-out, visibility 0.6s;
}

.backToTop i.hidden {
  opacity: 0;
  visibility: hidden;
}

/* GLOBAL RESPONSIVE  */
@media (max-width: 575.98px) {
  .section__title {
    font-size: 3.2rem;
  }


}

/* Animation */
@keyframes upDown {

  /* 10s */
  from {
    transform: translateY(-20px)
  }

  to {
    transform: translateY(0);
  }
}

@keyframes upDown2 {

  /* 10s */
  0% {}

  50% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes upDown3 {

  /* 10s */
  0% {
    transform: translateY(0) scale(1);
    background-color: rgb(196, 7, 170);
  }

  100% {
    transform: translateY(10px) scale(1.4);
    /* background-color: yellow;*/
  }
}